@media only screen and (max-width: 600px) {
  .zoom-counter.solution-section {
    padding: 0rem;
  }
  .carousel-item .image {
    height: auto;
  }
  .carousel-caption h5 {
    font-size: 1.9rem;
    padding-bottom: 0;
  }
  .carousel-caption p {
    display: none;
  }
  .carousel-control-prev i {
    font-size: 3rem;
    padding: 0rem;
    -webkit-text-stroke: 1.5px #eee;
  }
  .carousel-control-next i {
    font-size: 3rem;
    padding: 0rem;
    -webkit-text-stroke: 1.5px #eee;
  }
  .control-size {
    height: auto;
  }

  .img-background_solution--square {
    top: 0px;
    left: 0px;
  }

  span.label.label-default.solution__label--label {
    font-size: 14px;
  }
  .solution__title {
    font-size: 30px;
    text-align: left;
  }
  .solution__content {
    font-size: 14px;
    text-align: left;
    padding: 15px;
  }
  .img-background_solution--square {
    display: none;
  }
  .img-background_solution {
    position: absolute;
    top: 44%;
    left: 24px;
  }
}

@media only screen and (max-width: 900px) {
  .solution-container {
    width: 100%;
  }
  .solution__label {
    margin-bottom: 12px;
    padding: 2rem 2.8rem;
    text-align: left;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .carousel-caption {
    height: fit-content;
  }
  .img-background_solution {
    position: absolute;
    top: 35rem;
    left: 2rem;
  }
  .zoom-counter {
    margin-top: 0px;
    padding: 0rem !important;
  }
  .solution__title {
    font-size: 3rem;
  }
  .solution__content {
    font-size: 1.6rem;
  }
  .carousel-indicators {
    bottom: 3rem;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .carousel-caption {
    width: 52%;
    height: fit-content;
    margin-bottom: 2.5rem;
  }
  .panorama-slider2__slide-inner {
    width: 48%;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .carousel-caption {
    width: 78%;
    height: fit-content;
    margin-bottom: 2.5rem;
  }
  .zoom-counter {
    margin-top: 0px;
  }
}
