/* .carousel-control-prev {
  width: 50px;
  position: absolute;
  top: 39%;
  left: 0;
}

.carousel-control-prev .control-size {
  background-color: rgb(230, 230, 230);
  width: 40px;
  height: 40px;
}
.carousel-control-prev i {
  color: rgba(97, 97, 97, 0.822);
  font-size: 40px;
  font-weight: 100;
}

.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-color: rgb(190, 190, 190);
}

.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
  background-color: rgb(190, 190, 190);
}

.carousel-caption {
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  left: 40%;
  width: 630px;
  height: 320px;
  padding: 60px;
}

.image {
  width: 100%;
}
@media only screen and (min-width: 500px) {
  .image {
    width: 43%;
  }
}

.carousel-indicators {
  left: 60%;
}

.carousel-indicators .active {
  background-color: rgb(72, 195, 0);
}

.carousel-indicators li {
  background-color: rgb(195, 195, 195);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-caption h5 {
  color: #252e3b;
  font-size: 28px;
  line-height: 1.357;
  font-weight: 700;
}
.carousel-caption p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.611;
  color: #475363;
}

.carousel-item {
  margin-left: 100px;
} */

.carousel-inner {
  width: 90%;
  overflow: visible;
}

.carousel-item .image {
  width: 65rem;
  height: 53rem;
}

.carousel-caption {
  background-color: white;
  left: 49%;
  top: 50%;
  transform: translate(-10%, -50%);
  height: -moz-fit-content;
  /* height: fit-content; */
  width: 59rem;
  height: 32rem;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 768px) {
  .carousel-caption {
    left: 50%;
    top: 100%;
    transform: translate(-50%, -10%);
    width: 80%;
  }

  .carousel-item .image {
    width: 100%;
  }
}

.carousel-caption h5 {
  color: rgba(37, 46, 59);
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.357;
  letter-spacing: 0.5px;
  padding-bottom: 1.3rem;
}

.carousel-caption p {
  color: #475363;
  font-size: 1.8rem;
  line-height: 1.611;
  letter-spacing: 0.5px;
}

.carousel-control-prev {
  width: 5%;
  left: 0%;
}
.carousel-control-prev i {
  color: #475363;
  font-size: 60px;
  -webkit-text-stroke: 1.5px #eee;
  padding: 19px;
}

.control-size {
  width: 100px;
  height: 100px;
  background: #e6ebf1;
}

.control-size:hover {
  background-color: #fff;
}

.carousel-control-next {
  width: 5%;
  left: 5%;
}

.carousel-control-next i {
  color: #475363;
  font-size: 60px;
  -webkit-text-stroke: 1.5px #eee;
  padding: 19px;
}

.carousel-indicators {
  left: 60%;
}

.carousel-indicators .active {
  background-color: rgb(72, 195, 0);
}

.carousel-indicators li {
  background-color: rgba(172, 172, 172, 0.411);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/*
  Solution Section
*/

.zoom-counter.solution-section {
  background: #f7f8f9;
  position: relative;
  padding: 7.7rem 0;
}
.solution-container {
  color: black;
  padding-top: 70px;
  width: 60%;
  padding-bottom: 75px;
  /* text-align: center; */
  margin: 0 auto;
}

span.label.label-default.solution__label--label {
  background: rgba(3, 182, 124, 0.15);
  color: #03b67c;
  padding: 0.9rem 1.6rem;
}

.solution__label {
  text-align: center;
  margin-bottom: 12px;
}

.solution__title {
  text-align: center;
  font-size: 42px;
  line-height: 1.405;
  font-weight: 700;
  color: #252e3b;
  padding: 18px;
}

.solution__content {
  color: #475363;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.611;
  text-align: center;
}

.solution-carousel {
  padding-bottom: 80px;
}

.img-background_solution {
  position: absolute;
  top: 15rem;
  left: 6rem;
}

.img-background_solution--square {
  position: absolute;
  right: 4rem;
  top: 46rem;
}
