@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .logo {
    padding-left: 0rem;
    transform: translate(0);
  }
}
button.dropdown__trigger.top-menu__menu-link.btn.btn-outline-secondary.call-to-action {
  text-transform: capitalize;
  color: #fff;
  padding: 18px 0px;
  border-radius: 8px;
  height: 5rem !important;
  background: #ff1e59;
  margin-top: -13px;
  font-weight: 700;
  font-size: 14px;
  width: 15.5rem !important;
  line-height: 1.25;
}
