.card-content {
  height: 145px;
}
.card-title {
  font-weight: 700;
  color: #252e3b;
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
  line-height: 1.611;
  letter-spacing: 0.5px;
}
.card-description {
  /* font-weight: 700; */
  /* display: inline-block; */
  width: 300px;
  box-sizing: border-box;
  color: #475363;
  font-size: 1.8rem;
  word-wrap: break-word;
  margin-bottom: 1.8rem;
  /* line-height: 1.611; */
  letter-spacing: 0.5px;
}
/* ======================================================= */
.thick-line {
  height: 60px;
  background-color: #006fff;
  width: 100%;
}
.mobile-slider-footer {
  /* height: 200px; */
  /* min-width: 320px; */
  width: 100%;
  position: absolute;
  /* left: -90px; */
  top: 550px;
  /* right: 0; */
  z-index: 99999;
  background: #1b1a40;
}
.company-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.company-line img {
  width: 200px;
  /* height: 100%; */
}

.mobile-slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-gif {
  position: relative;
}
.mobile-gif-showcase {
  position: absolute;
  width: 100% !important;
  /* max-width: 400px !important; */
  top: 0px;
}
.mobile-gif-showcase img {
  min-height: 320px !important;
  max-height: 620px !important;
  min-width: 160px !important;
  max-width: 400px !important;
  /* display: block; */
  width: 110% !important;
}
.mobile-gif-image img {
  position: relative;
  top: 20px;
  left: 10px;
  min-height: 280px;
  max-height: 557px;
  min-width: 140px !important;
  max-width: 300px !important;
}
/* =================================================================== */
@media (max-width: 1050px) {
  .mobile-slider-footer {
    /* height: 300px; */
    min-width: 320px;
    width: 100%;
    position: absolute;
    top: 750px;
    /* right: 0; */
    z-index: 99999;
    background: #1b1a40;
  }
}
@media (max-width: 490px) {
  .card-content {
    height: 80px;
  }
  .card-title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    line-height: 1.611;
    letter-spacing: 0.5px;
  }
  .card-description {
    /* font-weight: 700; */
    /* display: inline-block; */
    /* width: 300px; */
    width: auto;
    box-sizing: border-box;
    color: #475363;
    font-size: 1.2rem;
    word-wrap: break-word;
    margin-bottom: 0.5rem !important;
    /* line-height: 1.611; */
    letter-spacing: 0.5px;
  }
  /* ------------------------------- */
  .thick-line {
    height: 40px;
    background-color: #006fff;
    width: 100%;
  }
  .mobile-gif-showcase {
    top: 10px;
    left: 0px;
  }
  .mobile-gif-showcase img {
    min-height: 340px !important;
    /* max-height: 630px !important; */
    min-width: 160px !important;
    max-width: 400px !important;
    /* display: block; */
    width: 114% !important;
  }

  .mobile-slider-footer {
    /* height: 300px; */
    min-width: 320px;
    width: 100%;
    position: absolute;
    top: 660px;
    /* right: 0; */
    z-index: 99999;
    background: #1b1a40;
  }
  .company-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .company-line img {
    width: 200px;
    /* height: 100%; */
  }
}
@media (max-width: 430px) {
  .mobile-slider-footer {
    top: 600px !important;
    min-width: 320px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .mobile-slider-footer {
    top: 510px !important;
    min-width: 320px;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .mobile-slider-footer {
    top: 420px !important;
    min-width: 320px;
    width: 100%;
  }
}

/* .mobile-gif-showcase img {
  height: 330px;
  width: 180px !important;
} */
