span.label.label-default.video__label--label {
  background-color: #e6f0ff;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.6;
  color: #006fff;
  font-weight: 800;
  border-radius: 0.6rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.2rem;
}

.video-container {
  color: black;
  /* padding-top: 70px; */
  width: 100%;
  /* padding-bottom: 75px; */
  text-align: center;
  margin: 0 auto;
}

#Portfolio {
  padding: 10rem 0;
}

.video-row {
  padding: 13rem 10rem;
}

@media only screen and (max-width: 600px) {
  #Portfolio {
    padding: 15rem 0;
  }
}
