@media only screen and (min-width: 1600px) {
  .contact__title {
    padding: 1rem 38rem 6rem 0rem !important;
  }
}

.img-background_contact--rect {
  position: absolute;
  bottom: 8rem;
  left: 50rem;
}

.contactUs-section {
  background: url('../../assets/images/contactus\ bg.svg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10.1rem;
  width: 100%;
}

.contact-content {
  display: flex;
  justify-content: left;
  /* padding-bottom: 95px; */
  padding: 6rem 16.8rem;
}

.contact-info {
  width: 50%;
}

.contact__label {
  padding: 100px 0 37px;
}

span.label.label-default.contact__label--label {
  background-color: #462b40;
  color: #ff1e59;
  padding: 1.3rem;
}

.contact__title {
  font-size: 42px;
  color: #fff;
  line-height: 1.405;
  font-weight: 600;
  text-align: left;
  padding: 1rem 20rem 6rem 0rem;
  letter-spacing: 0.8px;
}

.contact__location {
  display: flex;
  margin-bottom: 5rem;
  color: #fff;
}

.contact__phone {
  display: flex;
  margin-bottom: 30px;
  color: #fff;
}

img.contact__location--icon {
  /* height: 29px; */
  margin-right: 3.3rem;
  align-self: baseline;
}

img.contact__phone--icon {
  margin-right: 3.3rem;
}

.contact-text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.1;
  letter-spacing: 0.5px;
  margin-top: -1.3rem;
}
.contact-form {
  padding: 10rem 0rem;
  width: 50%;
}

.input__text {
  display: flex;
  height: 60px;
  background: black;
  opacity: 0.6;
  border-bottom: 1px solid #fff;
  position: relative;
}

/* .input__textarea {
  display: flex;
  height: 135px;
  background: black;
  opacity: 0.8;
} */

.input__text--label {
  padding-left: 23px;
  text-align: center;
  margin: auto;
  color: #bbc1c8;
  font-size: 12px;
  line-height: 2.417;
  text-transform: uppercase;
  font-weight: 400;
  position: absolute;
  padding-top: 1.5rem;
}

.input__textarea--label {
  position: absolute;
  padding: 2rem;
  /* padding-left: 2.3rem; */
  text-align: center;
  margin: auto;
  color: #bbc1c8;
  font-size: 1.2rem;
  line-height: 2.417;
  text-transform: uppercase;
}

.input__text--input {
  border: none;
  background: none;
  width: 100%;
  color: white;
  padding-left: 10rem;
}

.input__text--textarea {
  border: none;
  background: none;
  width: 100%;
  color: white;
  padding: 2.2rem 10rem;
}
.input__text--textbox {
  display: flex;
  height: 135px;
  background: black;
  opacity: 0.6;
}

.input__text--input:focus {
  border-bottom: 2px solid #ff1859;
  color: white;
  /* padding-left: 15px; */
  padding-left: 10rem;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.706;
  transform: translateY(2%);
}

.input__text--textarea:focus {
  border-bottom: 2px solid #ff1859;
  color: white;
  padding: 15px 10rem;
  /* padding-left: 10rem; */
  font-size: 17px;
  font-weight: 600;
  line-height: 1.706;
  transform: translateY(1%);
}

.gutter-top {
  margin-top: 36px;
}

.send__email {
  border: none;
  outline: none;
  border-radius: 1rem;
  background: #ff1e59;
  width: 16.9rem;
  color: white;
  height: 6rem;
  margin-top: 4.5rem;
  font-size: 1.9rem;
  line-height: 1.579;
}

@media only screen and (max-width: 600px) {
  .img-background_contact--rect {
    display: none;
  }
  .modelViewer--L__icon {
    display: none;
  }
  .img-background_clients--rect {
    right: 0;
    left: 2rem;
  }

  .contact-content {
    flex-flow: column;
    padding: 0;
  }
  .contact-info {
    width: 100%;
  }
  .contact__label {
    padding: 90px 0px 34px;
    margin-right: 137px;
  }
  .contact__title {
    padding: 21px !important;
    padding: 0 15px 30px;
    font-size: 30px;
  }
  .contact__location {
    justify-content: left !important;
    padding: 23px;
  }
  .img.contact__location--icon {
    padding: 8px 9px;
  }
  .contact-text {
    font-size: 16px;
  }
  .contact-form {
    width: 100%;
    padding: 26px 0px;
  }
  .send__email {
    width: 100%;
    font-size: 18px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .contact-content {
    flex-flow: column;
    padding: 4rem 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .contact-info {
    width: 100%;
    text-align: center;
  }
  .contact-content {
    flex-flow: column;
  }
  .contact__title {
    padding: 0;
    margin-bottom: 40px;
  }
  .contact__location {
    justify-content: center;
  }
  .contact__phone {
    justify-content: center;
  }
  .contact-form {
    width: 100%;
    padding: 10% 5%;
  }
  .butn {
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .contact__title {
    padding: 0;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .contact-text {
    font-size: 16px;
  }
}
