.zoom-counter__info {
  margin: 14rem auto 0rem;
}

.modelViewer--L__icon {
  position: absolute;
  left: 58rem;
  top: 82%;
}

@media only screen and (min-width: 1600px) {
  .modelViewer--L__icon {
    position: absolute;
    left: 95rem;
    top: 82%;
  }
}

.label {
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.6;
  font-weight: 800;
  text-transform: uppercase;
  font-weight: 700;
  justify-content: center;
  border-radius: 6px;
  padding: 0.9rem;
}

span.section__label--label {
  background-color: #ffdfe7;
  color: #ff1e59;
}
.zoom-counter__title {
  font-size: 3.2rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  letter-spacing: 0.5px;
}

.zoom-counter {
  padding: 12rem 5rem;
}

@media only screen and (max-width: 600px) {
  .zoom-counter {
    padding: 0;
  }
  .zoom-counter__title {
    font-size: 2rem;
  }
  .zoom-counter__info {
    padding: 0px !important;
    margin: 8rem auto 0rem;
  }
  .zoom-counter__inner {
    padding-left: 0;
    padding: 1rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .modelViewer--L__icon {
    display: none;
  }
  .zoom-counter__info {
    width: 100%;
  }
  .modelViewer {
    width: 100%;
  }
  .testimonial__title {
    font-size: 3.5rem;
  }
  .testimonial__content {
    font-size: 1.6rem;
  }
  .testimonial-card-content {
    font-size: 1.6rem;
  }
  .testimonial__names {
    padding: 0 0 0 5rem;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .zoom-counter__info {
    padding: 0rem;
    margin: 0rem;
  }
  .modelViewer {
    height: 550px;
    width: 521px;
    min-width: 50%;
    margin-left: 6px;
    margin-right: 0;
  }
  .modelViewer--L__icon {
    left: 30rem;
  }
}
