/*
	testimonial Section
  */

@media only screen and (min-width: 1500px) {
  .testimonial__content {
    padding: 0rem 20rem;
  }
}

.L__icon--yellow {
  position: absolute;
  bottom: 0rem;
  left: 8rem;
}

.zoom-counter.testimonial-section {
  background: #fff;
  position: relative;
}
.testimonial-container {
  color: black;
  padding-top: 70px;
  width: 60%;
  /* text-align: center; */
  margin: 0 auto;
  padding-bottom: 75px;
}

span.label.label-default.testimonial__label--label {
  background-color: #fff7eb;
  color: #ffb02f;
  padding: 1.5rem;
}

.testimonial__label {
  text-align: center;
}

.testimonial__title {
  text-align: center;
  font-size: 42px;
  line-height: 1.405;
  font-weight: 700;
  color: #252e3b;
  padding: 18px;
}

.testimonial__content {
  color: #475363;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.611;
  text-align: center;
  padding: 0rem 8rem;
}

.testimonial-carousel {
  margin: 80px auto;
}

.testimonial-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 50%;
  margin: 0 auto;
}

.testimonial-card {
  height: 308px;
  width: 576px;
  /* border: 1px solid #eee; */
  color: #252e3b;
  /* margin-right: 60px; */
  position: relative;
}
.testimonial-card-content {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.7;
  color: #252e3b;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  padding: 52px;
}
.testimonial__icon {
  position: absolute;
  bottom: 94%;
  left: 52px;
}

.testimonial__avatar {
  display: flex;
  padding: 3.6rem;
  margin-bottom: 50px;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #eee;
}

.testimonial__names {
  display: flex;
  flex-flow: column;
  padding: 1.2rem 1.9rem;
}

.testimonial__name {
  font-size: 20px;
  font-weight: 500;
  color: #252e3b;
  line-height: 1.1;
  letter-spacing: 0.5px;
}
.testimonial__post {
  font-weight: 600;
  line-height: 1.1;
  font-size: 20px;
  color: #252e3b;
  padding-top: 0.6rem;
  letter-spacing: 0.5px;
}

.testimonial__avatar--img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #eee;
}

/*
 * Responsive Part
*/

@media only screen and (max-width: 600px) {
  #Portfolio {
    padding: 13rem 0;
  }
  .testimonial__label {
    text-align: left;
  }
  .testimonial__content {
    padding: 0;
    text-align: left;
  }
  .testimonial__title {
    text-align: left;
    padding: 4rem 0;
  }
  .testimonial-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .testimonial-card {
    margin-right: 0px;
  }
  .testimonial-card-content {
    padding: 50px 24px;
    font-size: 16px;
  }
  .testimonial__avatar {
    padding: 30px 0px;
    margin-bottom: 0px;
  }

  .L__icon--yellow {
    display: none;
  }
  span.label.label-default.testimonial__label--label {
    font-size: 14px;
  }
  /* .testimonial__title {
    font-size: 30px;
    text-align: center;
  } */

  .testimonial__icon {
    bottom: 94%;
    left: 15px;
  }

  .zoom-counter.testimonial-section {
    padding: 0px;
  }
  .testimonial-container {
    width: 100%;
    padding-left: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  #Portfolio {
    padding: 30rem 0 !important;
  }
  .testimonial-container {
    width: 100%;
    padding-left: 5rem;
  }
  .testimonial__label {
    text-align: left;
  }
  .testimonial__title {
    text-align: left;
    padding: 3rem 0;
  }
  .testimonial__content {
    padding: 0;
    text-align: left;
  }
  .L__icon--yellow {
    position: absolute;
    top: 56rem;
    left: 4rem;
  }
  .testimonial__names {
    padding: 5px 0 0 2rem;
  }
  .testimonial__name {
    font-size: 1.6rem;
  }
  .testimonial__post {
    font-size: 1.6rem;
  }
}
