.video-row {
  /* background-color: tomato; */
  flex-wrap: wrap;
  color: black;
  padding: 100px;
}
@media (max-width: 420px) {
  .video-row {
    padding: 30px 20px;
  }
}
.video-card-wrapper {
  height: 700px;
  width: 100%;
  min-width: 350px;
  /* margin-top: 180px; */
}
@media (max-width: 1256px) {
  .video-card-wrapper {
    margin-bottom: 180px;
  }
}
button.dropdown__trigger.top-menu__menu-link.btn.btn-outline-secondary.call-to-action {
  text-transform: capitalize;
  color: #fff;
  padding: 16px 42px;
  border-radius: 8px;
  height: 55px;
  background: #ff1e59;
  margin-top: -13px;
  font-weight: 700;
  font-size: 14px;
}
button.dropdown__trigger.top-menu__menu-link.btn.btn-outline-secondary.call-to-action.nav-cta-text {
  color: #999;
  font-size: 25px;
  transition: all 0.2s;
  font-weight: 800;
  line-height: 1.5;
  border-radius: 13px;
}
button.dropdown__trigger.top-menu__menu-link.btn.btn-outline-secondary.call-to-action:hover.nav-cta-text:hover {
  color: #fff;
  border: 2px solid #eee;
  background: #999;
  transform: scale(1.2) skew(0, 2deg);
}

button.dropdown__trigger.top-menu__menu-link.btn.btn-outline-secondary.call-to-action:hover {
  background: #ff366a;
  outline: none;
}

.scroll-button {
  position: relative;
  top: -5px;
}
