@media only screen and (min-width: 1600px) {
  .panorama-slider2__slide {
    padding-top: 0;
  }
  .modelViewer {
    margin-left: 19rem;
  }
  .zoom-counter .carousel-caption {
    left: 39%;
    width: 57%;
  }
  .zoom-counter__info {
    padding: 0 8rem;
  }
  .zoom-counter .img-background_solution--square {
    right: 10rem;
    top: 40rem;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    /* padding-right: 60px; */
    /* padding-left: 60px; */
  }
}

@media only screen and (max-width: 1629px) {
  .cards__item-inner {
    padding: 35px 35px;
  }
  .full-screen-block__slide-inner {
    width: 40%;
    text-align: center;
    padding: 0 53px;
  }
  #pp-nav {
    top: 259vh;
  }
}

@media only screen and (max-width: 1439px) {
  .header-full-page {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .zoom-counter {
    margin-top: 30px;
  }

  a.btn.cta,
  a.btn.cta:link {
    width: 50%;
  }

  .zoom-counter__title {
    margin-top: 30px;
  }
  .zoom-counter {
    padding: 30px 0 15px;
  }

  .pp-tableCell {
    display: flex;
    vertical-align: center;
    width: 50%;
    height: 100%;
    width: 90%;
    text-align: left;
    padding: 91px 24px 10px 36px;
  }

  .reviews-block {
    padding-top: 100px;
  }

  .footer-studio__column {
    padding: 65px 65px;
  }
  .article-listing-item__content {
    padding: 40px;
  }

  .articles-list__item {
    margin-bottom: 50px;
  }

  .awards-block__year {
    width: 20%;
    min-width: 20%;
  }

  .awards-block__text {
    width: 50%;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .clients__list {
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 30px;
  }

  /* .clients__item {
      padding-right: 20px;
      padding-left: 20px;
    } */

  .featured-block__item {
    width: 50%;
  }

  .grid-block__item {
    min-height: 280px;
  }

  .header__menu-button_fixed {
    right: 2px;
  }

  .main-slide__title {
    font-size: 160px;
  }

  .main-slide_size_medium .main-slide__title {
    font-size: 140px;
  }

  .panorama-slider__container {
    padding: 0 20px;
  }

  .panorama-slider2__controls {
    right: 15px;
  }

  .parallax-block__title {
    font-size: 140px;
  }

  .parallax-image {
    height: 400px;
  }

  .project-slider__container {
    padding: 0 20px;
  }

  .revolution-slider .tparrows.tp-leftarrow {
    left: 10px !important;
  }

  .revolution-slider .tparrows.tp-rightarrow {
    right: 10px !important;
  }

  .zoom-counter__card {
    width: 40%;
    min-width: 40%;
    margin-right: 10%;
  }

  .zoom-counters__value {
    min-width: 1.8em;
  }

  .no-mobile .zoom-image-head {
    margin-bottom: 300px;
    /* margin-bottom: 100px; */
  }

  .zoom-slider__header {
    margin-bottom: 66px;
  }

  .zoom-slider__filter-link:not(:last-child) {
    margin-right: 40px;
  }

  .zoom-slider__button {
    padding: 13px;
  }

  .zoom-slider__button-title {
    font-size: 38px;
  }

  .zoom-slider__control_prev {
    left: 15px;
  }

  .zoom-slider__control_next {
    right: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .logo {
    padding-left: 0;
    transform: translate(0);
  }
  .zoom-counter__inner--tab {
    flex-flow: column;
  }
  .article-listing-item {
    display: block;
  }

  .article-listing-item__cover {
    width: 100%;
    padding-bottom: 45%;
  }

  .article-listing-item__content {
    width: 100%;
  }

  .article-listing-item__text {
    min-height: auto;
  }

  .contact-block__text {
    margin-bottom: 50px;
  }

  .contact-block__submit {
    margin-top: 50px;
  }

  .full-screen-block__label {
    padding-top: 24px;
    font-size: 16px;
  }

  .full-screen-block__label-value {
    font-size: 32px;
  }

  .full-screen-block__link {
    font-size: 24px;
  }

  .full-screen-block__counter {
    font-size: 32px;
  }

  .main-slide__title {
    font-size: 140px;
  }

  .main-slide_size_medium .main-slide__title {
    font-size: 120px;
  }

  .main-slide__label {
    padding-top: 24px;
    font-size: 16px;
  }

  .main-slide__label-value {
    font-size: 32px;
  }

  .main-slide__link {
    font-size: 24px;
  }

  .main-slide__counter {
    font-size: 32px;
  }

  .menu-panel {
    width: 50%;
  }

  .news-masonry-item__text {
    min-height: auto;
  }

  .panorama-slider__menu-link {
    min-width: 50px;
    margin-left: 20px;
  }

  .panorama-slider2__title {
    font-size: 40px;
  }

  .panorama-slider2__label {
    margin-top: 40px;
    font-size: 16px;
  }

  .panorama-slider2__label-icon {
    font-size: 60px;
  }

  .panorama-slider2__label-value {
    font-size: 26px;
    margin-top: 10px;
  }

  .panorama-slider2__link {
    font-size: 24px;
  }

  .parallax-block__title {
    font-size: 120px;
  }

  .parallax-block__label {
    padding-top: 24px;
    font-size: 16px;
  }

  .person-block {
    padding: 40px 50px;
  }

  .posts__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .project-block__title {
    margin-bottom: 30px;
  }

  .project-block__project {
    margin-bottom: 30px;
  }

  .project-block__project-content {
    padding: 30px 30px;
  }

  .project-block__project-content-inner {
    padding-right: 0;
  }

  .project-block__project-title {
    font-size: 40px;
  }

  .project-block__project-more {
    display: block;
    margin-top: 18px;
    position: relative;
    right: auto;
    bottom: auto;
  }

  .project-slider__menu-link {
    min-width: 50px;
    margin-left: 20px;
  }

  .specialization-block__item {
    max-width: none;
  }

  .studio-intro-slide__link {
    font-size: 24px;
  }

  .studio-main-slide__link {
    font-size: 24px;
  }

  .team-block__control {
    top: 35%;
  }

  .top-menu__menu-item:not(:last-child) {
    margin-right: 30px;
  }

  .zoom-counter__card {
    width: 45%;
    min-width: 45%;
    margin-right: 5%;
  }

  .zoom-customers__item {
    width: 50% !important;
  }

  .zoom-services__item {
    width: 50%;
  }

  .zoom-services__item-text {
    font-size: 14px;
  }

  .zoom-slider__filter-link:not(:last-child) {
    margin-right: 35px;
  }

  .zoom-slider__slider-wrapper:before,
  .zoom-slider__slider-wrapper:after {
    display: none;
  }
}

@media only screen and (max-width: 933px) {
  .zoom-counter__inner {
    padding: 0.4rem;
  }
  .panorama-slider2__slide-inner {
    width: 62%;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    margin-left: 2rem;
  }
  .fixed-imge {
    top: 26%;
  }
  .zoom-slider__button {
    padding: 13px 29px;
    width: 253px !important;
    text-align: center;
  }
  .zoom-slider__button-title {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.5px;
  }
  .clients img {
    max-width: 130px;
  }
  .header-fixed__bottom {
    display: none;
  }
  .header__menu-button {
    display: flex;
  }
  .fast-logo {
    height: 170px;
    right: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .modal-dialog {
    padding: 15px;
  }
  .reviews-block__slider {
    margin-top: 10px;
  }
  .reviews-block__slide.swiper-slide.swiper-slide-active {
    margin-right: 0px !important;
  }
  .reviews-block {
    padding-top: 20px;
  }
  .zoom-slider {
    margin-bottom: 20px;
  }
  .zoom-slider__header {
    margin-bottom: 0px;
  }
  .pp-tableCell {
    display: table-header-group;
  }
  .article-listing-item__content {
    padding: 20px;
  }

  .articles-block__item {
    width: 100%;
  }

  .articles-grid__item {
    width: 100%;
  }

  .video_bg {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .articles-list__item {
    margin-bottom: 20px;
  }

  .awards-block__item {
    margin-bottom: 20px;
  }

  .awards-block__text {
    width: 100%;
  }

  .clients__list {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  /* .clients__item {
      padding-left: 0;
      padding-right: 0;
    } */

  .clients__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .featured-block__title {
    margin-bottom: 40px;
  }

  .featured-block__item {
    width: 100%;
  }

  .footer-default__column {
    margin-bottom: 40px;
  }

  .footer-interior {
    padding-top: 60px;
    font-size: 14px;
    padding-bottom: 0;
  }

  .footer-interior__column {
    margin-bottom: 30px;
  }

  .footer-interior__bottom {
    margin-top: 30px;
  }

  .footer-minimal {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .footer-minimal__column {
    margin-bottom: 30px;
  }

  .footer-minimal__bottom {
    margin-top: 30px;
  }

  .footer-studio {
    padding-top: 60px;
    font-size: 14px;
    padding-bottom: 0;
  }

  .footer-studio__column {
    margin-bottom: 30px;
  }

  .footer-studio__bottom {
    margin-top: 30px;
  }

  .full-screen-block__subtitle {
    font-size: 18px;
  }

  .full-screen-block__title-wrapper {
    display: block;
  }

  .full-screen-block__title {
    font-size: 100px;
  }

  .full-screen-block__label {
    display: none;
  }

  .full-screen-block__text {
    font-size: 16px;
  }

  .grid-block__item {
    min-height: 220px;
  }

  .header-full-page__bottom {
    display: none;
  }

  .info-card-content__list-item-text {
    font-size: 14px;
  }

  .info-card-content__social:not(:first-child) {
    margin-left: 12px;
  }

  .main-slide__subtitle {
    font-size: 18px;
  }

  .main-slide__title-wrapper {
    display: block;
  }

  .main-slide__title {
    font-size: 120px;
  }

  .main-slide_size_medium .main-slide__title {
    font-size: 85px;
  }

  .main-slide__label {
    text-align: left;
  }

  .main-slide__label-value {
    text-align: left;
  }

  .main-slide__text {
    font-size: 16px;
  }

  .menu-panel {
    width: 100%;
    max-width: 100%;
  }

  .minimal-head-block {
    padding-top: 180px;
    padding-bottom: 80px;
  }

  .minimal-head-block__title br {
    display: none;
  }

  .minimal-head-block__title {
    font-size: 60px;
  }

  .minimal-head-block__label {
    height: 60px;
  }

  .minimal-head-block__text {
    font-size: 16px;
  }

  .news-masonry-item__content {
    padding: 20px;
  }

  .panorama-slider2__subtitle {
    font-size: 16px;
  }

  .panorama-slider2__title-wrapper {
    display: block;
  }

  .panorama-slider2__label {
    display: none !important;
  }

  .panorama-slider2__text {
    font-size: 16px;
  }

  .panorama-slider2__footer:after {
    right: 0;
  }

  .panorama-slider2__footer-menu {
    width: 100%;
  }

  .panorama-slider2__controls {
    margin-top: 0;
    margin-bottom: 30px;
    top: auto;
    bottom: 100%;
  }

  .panorama-slider2__control {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .parallax-block__title-wrapper {
    display: block;
  }

  .parallax-block__title {
    font-size: 100px;
  }

  .parallax-block__label {
    text-align: left;
  }

  .parallax-block__play {
    margin-top: 30px;
    margin-left: 0;
  }

  .parallax-block__download-link {
    font-size: 20px;
  }

  .parallax-block__download-icon {
    margin-right: 14px;
    font-size: 28px;
  }

  .parallax-block__download-text {
    margin-top: 0;
  }

  .person-block {
    padding: 20px;
  }

  .person-block__image {
    width: 80px;
    min-width: 80px;
    margin-right: 20px;
  }

  .project-block {
    padding-top: 80px;
  }

  .project-block__image-wrapper_offset {
    margin-top: 0;
  }

  .project-block__reviews {
    margin-bottom: 60px;
  }

  .projects-block__title {
    margin-bottom: 40px;
  }

  .review-slider__slider {
    margin-bottom: 40px;
  }

  .reviews-block__title {
    margin-bottom: 40px;
  }

  .reviews-block__slide {
    padding: 30px 15px;
  }

  .reviews-block__text {
    font-size: 16px;
  }

  .reviews-block__person-image {
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin-right: 15px;
  }

  .reviews-block__quote {
    width: 20px !important;
  }

  .single-post__posts-list {
    display: block;
  }

  .single-post__posts-item {
    width: 100%;
  }

  .socials {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .specialization-block__item {
    margin-left: auto;
    margin-right: auto;
  }

  .studio-filter__inner {
    display: block;
  }

  .studio-intro-slide__subtitle {
    font-size: 18px;
  }

  .studio-intro-slide__title-wrapper {
    display: block;
  }

  .studio-intro-slide__text {
    font-size: 16px;
  }

  .studio-main-slide__subtitle {
    font-size: 18px;
  }

  .studio-main-slide__title-wrapper {
    display: block;
  }

  .studio-main-slide__text {
    font-size: 16px;
  }

  .studio-reviews__head {
    display: block;
  }

  .team-block__slide {
    padding: 30px 15px;
  }

  .team-block__control {
    top: 40%;
  }

  .top-menu__bottom {
    display: none;
  }

  .zoom-counter {
    margin-top: 0px;
    padding: 30px 0 0px;
  }

  .zoom-counter__info {
    margin-top: 30px;
    width: 100%;
  }

  .zoom-counter__inner {
    display: block;
    /* margin-right: 25px; */
  }

  .zoom-counter__inner--first {
    display: block;
    margin-right: 0;
  }

  .zoom-counter__card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0px;
  }

  .zoom-counter__text {
    margin-bottom: 0px;
  }

  .modelViewer {
    height: 60vh;
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  #pp-nav {
    top: 244vh;
  }

  #pp-nav.right {
    right: 10px;
  }

  .zoom-image-head__title {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .zoom-services__list {
    display: block;
  }

  .zoom-customers__item {
    width: 100% !important;
  }
  .zoom-services__item {
    width: 100%;
  }

  .zoom-services__item-icon {
    margin-bottom: 25px;
  }

  .zoom-slider__slider:after {
    display: none;
  }
  .fast-logo {
    height: 140px;
  }
}

@media only screen and (max-width: 575px) {
  /* .zoom-counter__info {
    margin: 6rem auto 0rem;
    padding: 0rem;
  } */
  .panorama-slider2__slide-inner {
    width: 100%;
    margin-left: 0;
    margin-top: 70px;
    padding: 0.5rem;
    padding-bottom: 0;
  }
  .fixed-imge {
    position: absolute;
    top: 0 !important;
    right: 0;
  }

  .image-fast {
    width: 140px;
  }

  .panorama-slider2__title {
    margin-left: 0px;
    margin-right: 0px !important;
  }

  .awards-block__item {
    display: block;
  }

  .awards-block__year {
    width: 100%;
  }

  .cards__item-inner {
    padding: 15px 15px;
  }

  .full-screen-block__title {
    font-size: 40px;
  }

  .grid-block__item {
    min-height: 180px;
    padding: 60px 15px 15px;
  }

  .grid-block__year {
    right: 15px;
    top: 15px;
  }
  .full-screen-block {
    overflow: auto;
    min-height: 40vh;
  }

  .full-screen-block__slide {
    height: 60vh !important;
  }
  .info-card-content {
    padding: 12px 20px 20px;
  }

  .full-screen-block__title-wrapper {
    margin-bottom: 2vh;
  }

  .info-card__button {
    height: 50px;
    padding: 0 20px;
  }

  .main-slide__title {
    font-size: 70px;
  }

  .main-slide_size_medium .main-slide__title {
    font-size: 50px;
  }

  .panorama-slider__menu-link {
    display: none;
  }

  .panorama-slider2__title {
    font-size: 70px;
  }

  .panorama-slider2__footer-item:last-child {
    padding-right: 0;
  }

  .panorama-slider2__footer-item {
    padding-right: 20px;
  }

  .parallax-block__title {
    font-size: 60px;
  }

  .project-block__title {
    font-size: 40px;
  }

  .project-block__project-content {
    padding: 15px 15px;
  }

  .project-block__project-title {
    font-size: 34px;
  }

  .project-slider__menu-link {
    display: none;
  }

  .projects-block__controls {
    margin-top: 0;
  }
  .full-screen-block__subtitle {
    font-size: 10px;
  }
  .quote__text {
    font-size: 20px;
  }

  .single-post__intro {
    font-size: 20px;
  }

  .studio-intro-slide__title {
    font-size: 70px;
  }

  .studio-main-slide__title {
    font-size: 70px;
  }

  .team-block__text {
    font-size: 16px;
  }

  .zoom-image-head__subtitle {
    font-size: 20px;
  }

  .zoom-image-head__subtitle {
    margin-bottom: 24px;
    font-size: 18px;
  }

  button.header__menu-button {
    color: slategray;
    padding: 0;
  }

  a.btn.cta,
  a.btn.cta:link {
    width: 100%;
  }

  .zoom-image-head__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .zoom-image-head__text {
    font-size: 16px;
  }
  .fast-logo {
    height: 110px;
  }
}
